---

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="../src/styles/layout.css" />
		<script src="https://cdn.tailwindcss.com"></script>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Disbelto</title>
	</head>
		<slot />
	</body>
</html>
